GatewayBlueseidonMesh/nodeRedBlueseidonMesh.json
[{"id":"dad124c9.aaf168","type":"tab","label":"blueseidonMesh","disabled":false,"info":""},{"id":"617e29ad.454058","type":"file in","z":"dad124c9.aaf168","name":"ReadMeshDB","filename":"/home/pi/blueseidon/rpiBlueseidonMesh/database/database_demo.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":240,"wires":[["f1661c4c.ae10a"]]},{"id":"6151bbf8.c265d4","type":"inject","z":"dad124c9.aaf168","name":"Read Mesh DB at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":210,"y":160,"wires":[["3b647405.a5ee5c"]]},{"id":"b678776c.f951e8","type":"ui_button","z":"dad124c9.aaf168","name":"Scan for unprovisioned nodes","group":"9aba486b.e93498","order":1,"width":0,"height":0,"passthru":false,"label":"Scan for unprovisioned nodes","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":210,"y":480,"wires":[["88abf19f.e2c62","94b3eb10.9378e8"]]},{"id":"f1661c4c.ae10a","type":"json","z":"dad124c9.aaf168","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":240,"wires":[["320bc7fc.3ccc08","2b31afb0.343af","a0e84306.28122"]]},{"id":"88abf19f.e2c62","type":"pythonshell in","z":"dad124c9.aaf168","name":"RunPythonScript","pyfile":"/home/pi/blueseidon/rpiBlueseidonMesh/frontend.py","virtualenv":"","continuous":true,"stdInData":true,"x":830,"y":560,"wires":[["3bd26885.03a0b8","54200ba0.c7c5e4"]]},{"id":"3bd26885.03a0b8","type":"debug","z":"dad124c9.aaf168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":480,"wires":[]},{"id":"8142777.d3bb888","type":"ui_button","z":"dad124c9.aaf168","name":"","group":"9aba486b.e93498","order":4,"width":0,"height":0,"passthru":false,"label":"Provision this node","tooltip":"","color":"","bgcolor":"","icon":"","payload":"provision_node","payloadType":"str","topic":"","x":250,"y":520,"wires":[["d60e2e86.cd06e"]]},{"id":"12500844.1a6c98","type":"inject","z":"dad124c9.aaf168","name":"Start this script at startup of Node-Red","topic":"","payload":"script_startup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":810,"y":460,"wires":[["88abf19f.e2c62"]]},{"id":"3e3e5e49.b6ba52","type":"switch","z":"dad124c9.aaf168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Received UUID","vt":"str"},{"t":"cont","v":"DevkeyAdd","vt":"str"},{"t":"cont","v":"AddrPublicationAdd","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":930,"y":660,"wires":[["615def1f.7b8f4"],["e7564861.e1ed28"],["d80b65c.c0caa98"]]},{"id":"ba13e52d.413648","type":"debug","z":"dad124c9.aaf168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":540,"wires":[]},{"id":"54200ba0.c7c5e4","type":"split","z":"dad124c9.aaf168","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":660,"wires":[["3e3e5e49.b6ba52"]]},{"id":"615def1f.7b8f4","type":"split","z":"dad124c9.aaf168","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":620,"wires":[["f4020183.0bfd3"]]},{"id":"f4020183.0bfd3","type":"switch","z":"dad124c9.aaf168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":620,"wires":[["f1a26ad0.3d2cf8"]]},{"id":"d60e2e86.cd06e","type":"function","z":"dad124c9.aaf168","name":"Generate Provisioning String","func":"var name = flow.get(\"node_name_provisioning\");\nvar uuid = flow.get(\"node_uuid_provision\");\nmsg.payload = msg.payload + \" \" + uuid + \" \" + name;\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":520,"wires":[["88abf19f.e2c62"]]},{"id":"a0e84306.28122","type":"debug","z":"dad124c9.aaf168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":567.0000076293945,"y":332.0000047683716,"wires":[]},{"id":"f8f8df1c.441aa","type":"ui_list","z":"dad124c9.aaf168","group":"5c672967.934e78","name":"Configured Nodes in DB","order":5,"width":0,"height":0,"lineType":"three","actionType":"switch","allowHTML":true,"outputs":1,"topic":"","x":1110,"y":240,"wires":[["7b11e537.3adf0c"]]},{"id":"374414df.7205cc","type":"ui_list","z":"dad124c9.aaf168","group":"5c672967.934e78","name":"Mesh Parameters","order":3,"width":0,"height":0,"lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1090,"y":200,"wires":[]},{"id":"320bc7fc.3ccc08","type":"function","z":"dad124c9.aaf168","name":"Show Parameters from DB","func":"var appKey1 = {\"title\":\"AppKey 1\",\"description\":msg.payload.appKeys[0].key,\"id\": msg.payload.appKeys[0].index, \"name\": msg.payload.appKeys[0].name};\nvar appKey2 = {\"title\":\"AppKey 2\",\"description\":msg.payload.appKeys[1].key,\"id\": msg.payload.appKeys[1].index, \"name\": msg.payload.appKeys[1].name};\nvar netKey = {\"title\":\"NetKey\",\"description\":msg.payload.netKeys[0].key,\"id\": msg.payload.netKeys[0].index, \"name\": msg.payload.netKeys[0].name};\n\nmsg.payload = [appKey1,appKey2,netKey]\nreturn msg;\n\n","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["374414df.7205cc"]]},{"id":"e5b945c2.076f48","type":"ui_button","z":"dad124c9.aaf168","name":"","group":"5c672967.934e78","order":1,"width":0,"height":0,"passthru":false,"label":"Connect to an existing network","tooltip":"","color":"","bgcolor":"","icon":"","payload":"connect_to_mesh","payloadType":"str","topic":"","x":210,"y":560,"wires":[["88abf19f.e2c62"]]},{"id":"e7564861.e1ed28","type":"split","z":"dad124c9.aaf168","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":660,"wires":[["c731cb8b.f65cf8"]]},{"id":"c731cb8b.f65cf8","type":"switch","z":"dad124c9.aaf168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":660,"wires":[["b52a40f4.13f91"]]},{"id":"d80b65c.c0caa98","type":"split","z":"dad124c9.aaf168","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":700,"wires":[["f20d0e71.8620e"]]},{"id":"f20d0e71.8620e","type":"switch","z":"dad124c9.aaf168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":700,"wires":[["868bcc93.d2633"]]},{"id":"4e84e162.c3c88","type":"ui_button","z":"dad124c9.aaf168","name":"","group":"24d8d7c4.e6d288","order":9,"width":0,"height":0,"passthru":false,"label":"Configure Node","tooltip":"","color":"","bgcolor":"","icon":"","payload":"config_node","payloadType":"str","topic":"","x":260,"y":600,"wires":[["aecf8c24.ddab3"]]},{"id":"aecf8c24.ddab3","type":"function","z":"dad124c9.aaf168","name":"Generate Configuration String","func":"var uuid_config = flow.get(\"node_uuid_config\");\nvar node_id = flow.get(\"node_id_config\")\nvar cpch1 = flow.get(\"node_config_params_ch1\")\nvar cpch2 = flow.get(\"node_config_params_ch2\")\nvar cpch3 = flow.get(\"node_config_params_ch3\")\nvar cpch4 = flow.get(\"node_config_params_ch4\")\nvar cplpns = flow.get(\"node_config_params_lpnstate\")\nvar cplpnpt = flow.get(\"node_config_params_lpnpt\")\nvar cplpnd = flow.get(\"node_config_params_lpnd\")\nvar cplpnr = flow.get(\"node_config_params_lpnr\")\n\nmsg.payload = msg.payload + \" \" + uuid_config + \" \" + node_id + \" \" + cpch1 + \" \" + cpch2 + \" \" + cpch3 + \" \" + cpch4 + \" \" + cplpns + \" \" + cplpnpt + \" \" + cplpnd + \" \" + cplpnr;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["88abf19f.e2c62"]]},{"id":"7b11e537.3adf0c","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_uuid_config","pt":"flow","to":"payload.description","tot":"msg"},{"t":"set","p":"node_id_config","pt":"flow","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":240,"wires":[[]]},{"id":"878f82a5.1b73","type":"debug","z":"dad124c9.aaf168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":720,"wires":[]},{"id":"2b31afb0.343af","type":"function","z":"dad124c9.aaf168","name":"Show Nodes from DB","func":"var howmanynodes = msg.payload.nodes.length\nvar arr =[]\nfor (var i=0;i < howmanynodes;i++) {\n    var name = msg.payload.nodes[i].name;\n    var uuid = msg.payload.nodes[i].UUID;\n    var node = {\"title\":name,\"description\":uuid,\"id\": i, \"icon\": \"https://cdn.pixabay.com/photo/2015/03/12/12/22/bluetooth-670069_960_720.png\"};\n    arr.push(node)\n}\n\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["f8f8df1c.441aa"]]},{"id":"b284ee3c.c2a5d","type":"ui_list","z":"dad124c9.aaf168","group":"9aba486b.e93498","name":"Unprovisioned Nodes (UUID)","order":2,"width":"0","height":"0","lineType":"three","actionType":"check","allowHTML":true,"outputs":1,"topic":"","x":1840,"y":620,"wires":[["eddb64a9.09d5e8"]]},{"id":"f1a26ad0.3d2cf8","type":"function","z":"dad124c9.aaf168","name":"List all unprovisioned nodes","func":"var unprov_nodes = [];\nvar count = context.get('count_unprov_uuid')||0;\ncount += 1;\ncontext.set('count_unprov_uuid',count);\nvar title = \"Unprovisioned Node \" + count;\n\nunprov_nodes = context.get('unprov_uuid')||[];\nvar unprov_uuid = {\"title\":title,\"description\":msg.payload, \"icon\": \"https://cdn.pixabay.com/photo/2015/03/12/12/22/bluetooth-670069_960_720.png\"};\nunprov_nodes.push(unprov_uuid);\ncontext.set('unprov_uuid', unprov_nodes);\nmsg.payload = unprov_nodes;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1440,"y":620,"wires":[["48028a17.005c14","b284ee3c.c2a5d"]]},{"id":"48028a17.005c14","type":"debug","z":"dad124c9.aaf168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":580,"wires":[]},{"id":"eddb64a9.09d5e8","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_uuid_provision","pt":"flow","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":680,"wires":[[]]},{"id":"5ce3d41.293412c","type":"ui_button","z":"dad124c9.aaf168","name":"","group":"5c672967.934e78","order":2,"width":0,"height":0,"passthru":false,"label":"Read Mesh DB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":180,"y":240,"wires":[["617e29ad.454058"]]},{"id":"68cb4b02.540274","type":"ui_text","z":"dad124c9.aaf168","group":"5c672967.934e78","order":4,"width":0,"height":0,"name":"Nodes Title","label":"","format":"{{msg.payload}}","layout":"row-left","x":1070,"y":280,"wires":[]},{"id":"746cb833.5f8518","type":"inject","z":"dad124c9.aaf168","name":"","topic":"","payload":"Nodes","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":280,"wires":[["68cb4b02.540274"]]},{"id":"94b3eb10.9378e8","type":"function","z":"dad124c9.aaf168","name":"Error handling when no new UUID ist detected","func":"var unprov_nodes = [];\nvar unprov_uuid = {\"title\":\"Please restart the Development Kit and the Node-Red Flow\"};\nunprov_nodes.push(unprov_uuid);\nmsg.payload = unprov_nodes;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1500,"y":540,"wires":[["ba13e52d.413648","b284ee3c.c2a5d"]]},{"id":"ae14aa9d.e8ff38","type":"function","z":"dad124c9.aaf168","name":"Startup with an empty list","func":"var unprov_nodes = [];\nmsg.payload = unprov_nodes;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1430,"y":580,"wires":[["b284ee3c.c2a5d"]]},{"id":"97006b5b.b76ee8","type":"inject","z":"dad124c9.aaf168","name":"Startup with an empty list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1150,"y":580,"wires":[["ae14aa9d.e8ff38"]]},{"id":"3b647405.a5ee5c","type":"function","z":"dad124c9.aaf168","name":"Startup with an empty list","func":"var arr =[]\nmsg.payload = arr;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["f8f8df1c.441aa","374414df.7205cc"]]},{"id":"567741f4.cf99e","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Mode Channel 1","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":880,"wires":[["afc01af5.8a8208"]]},{"id":"a229519e.d27c9","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Mode Channel 2","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":920,"wires":[["d1877c43.fc1ea"]]},{"id":"54188141.39bdd","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Mode Channel 3","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":960,"wires":[["4c30ac65.a3bad4"]]},{"id":"811cb6ee.d91db8","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Mode Channel 4","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":1000,"wires":[["b893564a.90fde8"]]},{"id":"a27e7eef.51c94","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Low Power Node State","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Off","value":"0","type":"str"},{"label":"On","value":"1","type":"str"}],"payload":"","topic":"","x":280,"y":1040,"wires":[["20c843a9.b6bfac"]]},{"id":"451b8ecd.ad931","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Low Power Node Poll Timeout","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"2s","value":"0","type":"str"},{"label":"10s","value":"1","type":"str"},{"label":"1min","value":"2","type":"str"},{"label":"10min","value":"3","type":"str"},{"label":"1h","value":"4","type":"str"},{"label":"12h","value":"5","type":"str"},{"label":"24h","value":"6","type":"str"},{"label":"96h","value":"7","type":"str"}],"payload":"","topic":"","x":310,"y":1080,"wires":[["f542b2f.0f91a5"]]},{"id":"a0a1e68f.e82828","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Low Power Node Delay","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"10ms","value":"0","type":"str"},{"label":"64ms","value":"1","type":"str"},{"label":"100ms","value":"2","type":"str"},{"label":"128ms","value":"3","type":"str"},{"label":"160ms","value":"4","type":"str"},{"label":"192ms","value":"5","type":"str"},{"label":"224ms","value":"6","type":"str"},{"label":"255ms","value":"7","type":"str"}],"payload":"","topic":"","x":290,"y":1120,"wires":[["d4d059f6.c37d18"]]},{"id":"5fa1cdba.14a734","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Low Power Node Receive Window","tooltip":"","place":"Select option","group":"24d8d7c4.e6d288","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"1.0","value":"0","type":"str"},{"label":"1.5","value":"1","type":"str"},{"label":"2.0","value":"2","type":"str"},{"label":"2.5","value":"3","type":"str"}],"payload":"","topic":"","x":320,"y":1160,"wires":[["ec4cbab.72e4348"]]},{"id":"afc01af5.8a8208","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_ch1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":880,"wires":[[]]},{"id":"d1877c43.fc1ea","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_ch2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":920,"wires":[[]]},{"id":"4c30ac65.a3bad4","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_ch3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":960,"wires":[[]]},{"id":"b893564a.90fde8","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_ch4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[[]]},{"id":"20c843a9.b6bfac","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_lpnstate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1040,"wires":[[]]},{"id":"f542b2f.0f91a5","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_lpnpt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1080,"wires":[[]]},{"id":"d4d059f6.c37d18","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_lpnd","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1120,"wires":[[]]},{"id":"ec4cbab.72e4348","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_config_params_lpnr","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1160,"wires":[[]]},{"id":"6cfb416e.72813","type":"ui_switch","z":"dad124c9.aaf168","name":"","label":"Light Switch Group 0","tooltip":"","group":"4b132a68.0ebdf4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":240,"y":640,"wires":[["bc1a49bc.8fcaa8"]]},{"id":"bc1a49bc.8fcaa8","type":"function","z":"dad124c9.aaf168","name":"Generate Switching String","func":"msg.payload = \"light_switch\" + \" \" + msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["88abf19f.e2c62","878f82a5.1b73"]]},{"id":"eb824676.dacba8","type":"inject","z":"dad124c9.aaf168","name":"Inject false at startup","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":700,"wires":[[]]},{"id":"e2a6376a.998068","type":"ui_text_input","z":"dad124c9.aaf168","name":"Name of the Node Provisioning","label":"Name","tooltip":"","group":"9aba486b.e93498","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":530,"y":400,"wires":[["b6c32b80.17fa68"]]},{"id":"b6c32b80.17fa68","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"node_name_provisioning","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":400,"wires":[[]]},{"id":"7a0d9c5d.574704","type":"inject","z":"dad124c9.aaf168","name":"Inject Startup values","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":400,"wires":[["e2a6376a.998068"]]},{"id":"b52a40f4.13f91","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"devkey_handle","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":660,"wires":[[]]},{"id":"868bcc93.d2633","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"address_handle","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":700,"wires":[[]]},{"id":"daf0859d.f7c158","type":"ui_button","z":"dad124c9.aaf168","name":"","group":"4b132a68.0ebdf4","order":3,"width":0,"height":0,"passthru":false,"label":"Subscribe selected node to group 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"subscription_add","payloadType":"str","topic":"","x":180,"y":760,"wires":[["38720914.aabed6"]]},{"id":"38720914.aabed6","type":"function","z":"dad124c9.aaf168","name":"Generate Configuration String","func":"\nvar group = flow.get(\"group_selection\")\nvar uuid = flow.get(\"node_uuid_config\")\nvar id = flow.get(\"node_id_config\")\n\nmsg.payload = msg.payload + \" \" + uuid + \" \" + id + \" \" + group;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["b6de51e4.e32e5","88abf19f.e2c62"]]},{"id":"dfaf510d.47d23","type":"ui_dropdown","z":"dad124c9.aaf168","name":"","label":"Group selection","tooltip":"","place":"Select option","group":"4b132a68.0ebdf4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Group 0","value":"0","type":"str"},{"label":"Group 1","value":"1","type":"str"},{"label":"Group 2","value":"2","type":"str"}],"payload":"","topic":"","x":240,"y":800,"wires":[["4c80f3a9.c1756c"]]},{"id":"4c80f3a9.c1756c","type":"change","z":"dad124c9.aaf168","name":"","rules":[{"t":"set","p":"group_selection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[[]]},{"id":"b6de51e4.e32e5","type":"debug","z":"dad124c9.aaf168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":860,"wires":[]},{"id":"9aba486b.e93498","type":"ui_group","z":"","name":"Provisioning","tab":"fc3e0727.ef5cd8","order":1,"disp":true,"width":"8","collapse":false},{"id":"5c672967.934e78","type":"ui_group","z":"","name":"Mesh Database","tab":"fc3e0727.ef5cd8","order":2,"disp":true,"width":"8","collapse":false},{"id":"24d8d7c4.e6d288","type":"ui_group","z":"","name":"Node Configuration","tab":"fc3e0727.ef5cd8","order":3,"disp":true,"width":"8","collapse":false},{"id":"4b132a68.0ebdf4","type":"ui_group","z":"","name":"Control Panel","tab":"fc3e0727.ef5cd8","order":4,"disp":true,"width":"8","collapse":false},{"id":"fc3e0727.ef5cd8","type":"ui_tab","z":"","name":"Bluetooth Mesh Dashboard","icon":"dashboard","disabled":false,"hidden":false}]