GatewayBlueseidonMesh/nodeRedBlueseidonMesh.json
[{"id":"f6e853ab.0555d","type":"tab","label":"blueseidonMesh","disabled":false,"info":""},{"id":"e355eb0a.9628b8","type":"file in","z":"f6e853ab.0555d","name":"ReadMeshDB","filename":"C:\\Tools\\NRF\\nrf5_SDK_for_Mesh_v3.2.0_src\\scripts\\interactive_pyaci_ohne_IPython\\database\\example_database.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":240,"wires":[["8ec7ce55.bd324"]]},{"id":"cda0018b.03e28","type":"inject","z":"f6e853ab.0555d","name":"Read Mesh DB at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":210,"y":160,"wires":[["a47ff088.70871"]]},{"id":"5f924794.652958","type":"ui_button","z":"f6e853ab.0555d","name":"Scan for unprovisioned nodes","group":"d4ccba51.072238","order":1,"width":0,"height":0,"passthru":false,"label":"Scan for unprovisioned nodes","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scan","payloadType":"str","topic":"","x":210,"y":480,"wires":[["8bc94f22.4cc92","617e307f.6d3a8"]]},{"id":"8ec7ce55.bd324","type":"json","z":"f6e853ab.0555d","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":240,"wires":[["fba0ab19.bafc08","6f62f285.11ef3c","f92f284e.533b48"]]},{"id":"8bc94f22.4cc92","type":"pythonshell in","z":"f6e853ab.0555d","name":"RunPythonScript","pyfile":"C:\\Tools\\NRF\\nrf5_SDK_for_Mesh_v3.2.0_src\\scripts\\interactive_pyaci_ohne_IPython\\frontend.py","virtualenv":"","continuous":true,"stdInData":true,"x":830,"y":560,"wires":[["34d33aff.8c9756","46441312.24429c"]]},{"id":"34d33aff.8c9756","type":"debug","z":"f6e853ab.0555d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":460,"wires":[]},{"id":"4cbdd2cf.f34dbc","type":"ui_button","z":"f6e853ab.0555d","name":"","group":"d4ccba51.072238","order":5,"width":0,"height":0,"passthru":false,"label":"Provision this node","tooltip":"","color":"","bgcolor":"","icon":"","payload":"provision_node","payloadType":"str","topic":"","x":250,"y":520,"wires":[["42b17dc6.935ee4"]]},{"id":"bf67abb5.823f08","type":"inject","z":"f6e853ab.0555d","name":"Start this script at startup of Node-Red","topic":"","payload":"script_startup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":810,"y":460,"wires":[["8bc94f22.4cc92"]]},{"id":"dd5b0d2c.4bc25","type":"switch","z":"f6e853ab.0555d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Received UUID","vt":"str"},{"t":"cont","v":"DevkeyAdd","vt":"str"},{"t":"cont","v":"AddrPublicationAdd","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":930,"y":660,"wires":[["7c8f3fdf.121c9"],["fe7ec42f.da2138"],["b4e11c95.20be4"]]},{"id":"1ca833dd.0e58fc","type":"debug","z":"f6e853ab.0555d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":540,"wires":[]},{"id":"46441312.24429c","type":"split","z":"f6e853ab.0555d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":660,"wires":[["dd5b0d2c.4bc25"]]},{"id":"7c8f3fdf.121c9","type":"split","z":"f6e853ab.0555d","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":620,"wires":[["70906503.68b3cc"]]},{"id":"70906503.68b3cc","type":"switch","z":"f6e853ab.0555d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":620,"wires":[["79ec6504.fc15cc"]]},{"id":"42b17dc6.935ee4","type":"function","z":"f6e853ab.0555d","name":"Generate Provisioning String","func":"var name = flow.get(\"node_name_provisioning\");\nvar uuid = flow.get(\"node_uuid_provision\");\nmsg.payload = msg.payload + \" \" + uuid + \" \" + name;\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":520,"wires":[["8bc94f22.4cc92"]]},{"id":"f92f284e.533b48","type":"debug","z":"f6e853ab.0555d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":320,"wires":[]},{"id":"aa61aaf8.93d828","type":"ui_list","z":"f6e853ab.0555d","group":"5953eb69.59cd34","name":"Configured Nodes in DB","order":5,"width":0,"height":0,"lineType":"three","actionType":"switch","allowHTML":true,"outputs":1,"topic":"","x":1110,"y":240,"wires":[["2e6e9c6b.3ffcb4"]]},{"id":"8163e69c.369298","type":"ui_list","z":"f6e853ab.0555d","group":"5953eb69.59cd34","name":"Mesh Parameters","order":3,"width":0,"height":0,"lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1090,"y":200,"wires":[]},{"id":"fba0ab19.bafc08","type":"function","z":"f6e853ab.0555d","name":"Show Parameters from DB","func":"var appKey1 = {\"title\":\"AppKey 1\",\"description\":msg.payload.appKeys[0].key,\"id\": msg.payload.appKeys[0].index, \"name\": msg.payload.appKeys[0].name};\nvar appKey2 = {\"title\":\"AppKey 2\",\"description\":msg.payload.appKeys[1].key,\"id\": msg.payload.appKeys[1].index, \"name\": msg.payload.appKeys[1].name};\nvar netKey = {\"title\":\"NetKey\",\"description\":msg.payload.netKeys[0].key,\"id\": msg.payload.netKeys[0].index, \"name\": msg.payload.netKeys[0].name};\n\nmsg.payload = [appKey1,appKey2,netKey]\nreturn msg;\n\n","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["8163e69c.369298"]]},{"id":"a84c1d.637543e","type":"ui_button","z":"f6e853ab.0555d","name":"","group":"5953eb69.59cd34","order":1,"width":0,"height":0,"passthru":false,"label":"Connect to an existing network","tooltip":"","color":"","bgcolor":"","icon":"","payload":"connect_to_mesh","payloadType":"str","topic":"","x":210,"y":560,"wires":[["8bc94f22.4cc92"]]},{"id":"fe7ec42f.da2138","type":"split","z":"f6e853ab.0555d","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":660,"wires":[["a527b8f1.b4d028"]]},{"id":"a527b8f1.b4d028","type":"switch","z":"f6e853ab.0555d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":660,"wires":[["5cc02b33.46ffc4"]]},{"id":"b4e11c95.20be4","type":"split","z":"f6e853ab.0555d","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":700,"wires":[["31ae9cb2.263c44"]]},{"id":"31ae9cb2.263c44","type":"switch","z":"f6e853ab.0555d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":700,"wires":[["1419a10d.3ba46f"]]},{"id":"7c65d328.e808ac","type":"ui_button","z":"f6e853ab.0555d","name":"","group":"c185e4c1.bf8688","order":9,"width":0,"height":0,"passthru":false,"label":"Configure Node","tooltip":"","color":"","bgcolor":"","icon":"","payload":"config_node","payloadType":"str","topic":"","x":260,"y":600,"wires":[["aa32d4dc.94b118"]]},{"id":"aa32d4dc.94b118","type":"function","z":"f6e853ab.0555d","name":"Generate Configuration String","func":"var uuid_config = flow.get(\"node_uuid_config\");\nvar node_id = flow.get(\"node_id_config\")\nvar cpch1 = flow.get(\"node_config_params_ch1\")\nvar cpch2 = flow.get(\"node_config_params_ch2\")\nvar cpch3 = flow.get(\"node_config_params_ch3\")\nvar cpch4 = flow.get(\"node_config_params_ch4\")\nvar cplpns = flow.get(\"node_config_params_lpnstate\")\nvar cplpnpt = flow.get(\"node_config_params_lpnpt\")\nvar cplpnd = flow.get(\"node_config_params_lpnd\")\nvar cplpnr = flow.get(\"node_config_params_lpnr\")\n\nmsg.payload = msg.payload + \" \" + uuid_config + \" \" + node_id + \" \" + cpch1 + \" \" + cpch2 + \" \" + cpch3 + \" \" + cpch4 + \" \" + cplpns + \" \" + cplpnpt + \" \" + cplpnd + \" \" + cplpnr;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["8bc94f22.4cc92"]]},{"id":"2e6e9c6b.3ffcb4","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_uuid_config","pt":"flow","to":"payload.description","tot":"msg"},{"t":"set","p":"node_id_config","pt":"flow","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":240,"wires":[[]]},{"id":"70d8927f.3dfc9c","type":"debug","z":"f6e853ab.0555d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":760,"wires":[]},{"id":"6f62f285.11ef3c","type":"function","z":"f6e853ab.0555d","name":"Show Nodes from DB","func":"var howmanynodes = msg.payload.nodes.length\nvar arr =[]\nfor (var i=0;i < howmanynodes;i++) {\n    var name = msg.payload.nodes[i].name;\n    var uuid = msg.payload.nodes[i].UUID;\n    var node = {\"title\":name,\"description\":uuid,\"id\": i, \"icon\": \"https://cdn.pixabay.com/photo/2015/03/12/12/22/bluetooth-670069_960_720.png\"};\n    arr.push(node)\n}\n\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["aa61aaf8.93d828"]]},{"id":"a940f644.d99838","type":"ui_list","z":"f6e853ab.0555d","group":"d4ccba51.072238","name":"Unprovisioned Nodes (UUID)","order":2,"width":"0","height":"0","lineType":"three","actionType":"check","allowHTML":true,"outputs":1,"topic":"","x":1840,"y":620,"wires":[["abf1a5ad.d48178"]]},{"id":"79ec6504.fc15cc","type":"function","z":"f6e853ab.0555d","name":"List all unprovisioned nodes","func":"var unprov_nodes = [];\nvar count = context.get('count_unprov_uuid')||0;\ncount += 1;\ncontext.set('count_unprov_uuid',count);\nvar title = \"Unprovisioned Node \" + count;\n\nunprov_nodes = context.get('unprov_uuid')||[];\nvar unprov_uuid = {\"title\":title,\"description\":msg.payload, \"icon\": \"https://cdn.pixabay.com/photo/2015/03/12/12/22/bluetooth-670069_960_720.png\"};\nunprov_nodes.push(unprov_uuid);\ncontext.set('unprov_uuid', unprov_nodes);\nmsg.payload = unprov_nodes;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1440,"y":620,"wires":[["662c614e.26bc9","a940f644.d99838"]]},{"id":"662c614e.26bc9","type":"debug","z":"f6e853ab.0555d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":580,"wires":[]},{"id":"abf1a5ad.d48178","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_uuid_provision","pt":"flow","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":680,"wires":[[]]},{"id":"dd90b080.a7606","type":"ui_button","z":"f6e853ab.0555d","name":"","group":"5953eb69.59cd34","order":2,"width":0,"height":0,"passthru":false,"label":"Read Mesh DB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":180,"y":240,"wires":[["e355eb0a.9628b8"]]},{"id":"ca025ed8.1b6ee","type":"ui_text","z":"f6e853ab.0555d","group":"5953eb69.59cd34","order":4,"width":0,"height":0,"name":"Nodes Title","label":"","format":"{{msg.payload}}","layout":"row-left","x":1070,"y":280,"wires":[]},{"id":"d9065459.c638a8","type":"inject","z":"f6e853ab.0555d","name":"","topic":"","payload":"Nodes","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":280,"wires":[["ca025ed8.1b6ee"]]},{"id":"617e307f.6d3a8","type":"function","z":"f6e853ab.0555d","name":"Error handling when no new UUID ist detected","func":"var unprov_nodes = [];\nvar unprov_uuid = {\"title\":\"Please restart the Development Kit and the Node-Red Flow\"};\nunprov_nodes.push(unprov_uuid);\nmsg.payload = unprov_nodes;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1500,"y":540,"wires":[["1ca833dd.0e58fc","a940f644.d99838"]]},{"id":"d12dd2f7.ddca1","type":"function","z":"f6e853ab.0555d","name":"Startup with an empty list","func":"var unprov_nodes = [];\nmsg.payload = unprov_nodes;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1430,"y":580,"wires":[["a940f644.d99838"]]},{"id":"fe7828d1.1efa98","type":"inject","z":"f6e853ab.0555d","name":"Startup with an empty list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1150,"y":580,"wires":[["d12dd2f7.ddca1"]]},{"id":"a47ff088.70871","type":"function","z":"f6e853ab.0555d","name":"Startup with an empty list","func":"var arr =[]\nmsg.payload = arr;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["aa61aaf8.93d828","8163e69c.369298"]]},{"id":"a83ec536.4f72d8","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Mode Channel 1","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":880,"wires":[["5388e313.12f1dc"]]},{"id":"d6daeb6d.85ba28","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Mode Channel 2","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":920,"wires":[["4957c492.55b44c"]]},{"id":"bd246e16.dd2e8","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Mode Channel 3","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":960,"wires":[["8b5f74f8.008ce8"]]},{"id":"1e6a4c0b.ab2044","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Mode Channel 4","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"None","value":"0","type":"str"},{"label":"On/Off Server","value":"1","type":"str"},{"label":"On/Off Client","value":"2","type":"str"},{"label":"Level Server","value":"3","type":"str"},{"label":"Level Client","value":"4","type":"str"}],"payload":"","topic":"","x":260,"y":1000,"wires":[["27995fcb.fb83b"]]},{"id":"aa4d4f5f.dd1df","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Low Power Node State","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Off","value":"0","type":"str"},{"label":"On","value":"1","type":"str"}],"payload":"","topic":"","x":280,"y":1040,"wires":[["65be1d0a.f4f0d4"]]},{"id":"a400624c.8e048","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Low Power Node Poll Timeout","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"2s","value":"0","type":"str"},{"label":"10s","value":"1","type":"str"},{"label":"1min","value":"2","type":"str"},{"label":"10min","value":"3","type":"str"},{"label":"1h","value":"4","type":"str"},{"label":"12h","value":"5","type":"str"},{"label":"24h","value":"6","type":"str"},{"label":"96h","value":"7","type":"str"}],"payload":"","topic":"","x":310,"y":1080,"wires":[["2f47277d.f6fdd8"]]},{"id":"3b126482.e3317c","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Low Power Node Delay","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"10ms","value":"0","type":"str"},{"label":"64ms","value":"1","type":"str"},{"label":"100ms","value":"2","type":"str"},{"label":"128ms","value":"3","type":"str"},{"label":"160ms","value":"4","type":"str"},{"label":"192ms","value":"5","type":"str"},{"label":"224ms","value":"6","type":"str"},{"label":"255ms","value":"7","type":"str"}],"payload":"","topic":"","x":290,"y":1120,"wires":[["cdecb282.d97ae"]]},{"id":"ccf76452.2f2b28","type":"ui_dropdown","z":"f6e853ab.0555d","name":"","label":"Low Power Node Receive Window","tooltip":"","place":"Select option","group":"c185e4c1.bf8688","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"1.0","value":"0","type":"str"},{"label":"1.5","value":"1","type":"str"},{"label":"2.0","value":"2","type":"str"},{"label":"2.5","value":"3","type":"str"}],"payload":"","topic":"","x":320,"y":1160,"wires":[["ab131c8f.22287"]]},{"id":"5388e313.12f1dc","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_ch1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":880,"wires":[[]]},{"id":"4957c492.55b44c","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_ch2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":920,"wires":[[]]},{"id":"8b5f74f8.008ce8","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_ch3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":960,"wires":[[]]},{"id":"27995fcb.fb83b","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_ch4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[[]]},{"id":"65be1d0a.f4f0d4","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_lpnstate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1040,"wires":[[]]},{"id":"2f47277d.f6fdd8","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_lpnpt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1080,"wires":[[]]},{"id":"cdecb282.d97ae","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_lpnd","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1120,"wires":[[]]},{"id":"ab131c8f.22287","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_config_params_lpnr","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1160,"wires":[[]]},{"id":"37be7168.3d5f9e","type":"ui_switch","z":"f6e853ab.0555d","name":"","label":"Light Switch","tooltip":"","group":"afcd3fe3.f162","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":270,"y":640,"wires":[["543f63d7.240f6c"]]},{"id":"543f63d7.240f6c","type":"function","z":"f6e853ab.0555d","name":"Generate Switching String","func":"msg.payload = \"light_switch\" + \" \" + msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["8bc94f22.4cc92","70d8927f.3dfc9c"]]},{"id":"c023bed.cba734","type":"inject","z":"f6e853ab.0555d","name":"Inject false at startup","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":700,"wires":[[]]},{"id":"82a11f4a.884a9","type":"ui_text_input","z":"f6e853ab.0555d","name":"Name of the Node Provisioning","label":"Name","tooltip":"","group":"d4ccba51.072238","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":530,"y":400,"wires":[["f3f15b3.42e64a8"]]},{"id":"f3f15b3.42e64a8","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"node_name_provisioning","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":400,"wires":[[]]},{"id":"d40c011f.adc13","type":"inject","z":"f6e853ab.0555d","name":"Inject Startup values","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":400,"wires":[["82a11f4a.884a9"]]},{"id":"5cc02b33.46ffc4","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"devkey_handle","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":660,"wires":[[]]},{"id":"1419a10d.3ba46f","type":"change","z":"f6e853ab.0555d","name":"","rules":[{"t":"set","p":"address_handle","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":700,"wires":[[]]},{"id":"d4ccba51.072238","type":"ui_group","z":"","name":"Provisioning","tab":"c90c5e20.1f266","order":1,"disp":true,"width":"8","collapse":false},{"id":"5953eb69.59cd34","type":"ui_group","z":"","name":"Mesh Database","tab":"c90c5e20.1f266","order":2,"disp":true,"width":"8","collapse":false},{"id":"c185e4c1.bf8688","type":"ui_group","z":"","name":"Node Configuration","tab":"c90c5e20.1f266","order":3,"disp":true,"width":"8","collapse":false},{"id":"afcd3fe3.f162","type":"ui_group","z":"","name":"Switch","tab":"c90c5e20.1f266","order":4,"disp":true,"width":"8","collapse":false},{"id":"c90c5e20.1f266","type":"ui_tab","z":"","name":"Bluetooth Mesh Dashboard","icon":"dashboard","disabled":false,"hidden":false}]